.content {
    width: 90%;
    margin:0 auto;
}
Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 26px;
}

.sub-title{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inline {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

label>input{
    margin-left: 10px;
}
